@import url();

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    display: flex;
}
hr {
    color: hsl(94, 100%, 11%);
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  input[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;

  }  
.sidebar{
    position: sticky;
    top: 0;
    left:0;
    bottom: 0;
    width: 100px;
    height: 100vh;
    padding: 0 1.7rem;
    color: hsl(0, 0%, 100%);
    overflow: hidden;
    transition: all 0.1s linear;
    background:hsl(94, 89%, 40%);
}
.sidebar:hover{
    width: 240px;
    transition: .5s;
}
.tabs{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.tabs li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.tabs li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.tabs li:hover,
.active{
    background: hsl(32, 93%, 29%);
}

.tabs a{
    color: hsl(94, 100%, 11%);
    font-size: 14px; 
    text-decoration: none;
    display: flex;
    align-items: center;

}
.tabs a
.active{
    color: hsl(0, 0%, 100%);
}
.tabs a span{
    overflow: hidden;
}
.logout{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.mainContent{
    position: relative;
    background: white;
    width: 100%;
    padding: 1rem;
}

.headerWrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background:hsl(94, 89%, 40%);
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.HeaderTitle{
    color:hsl(94, 100%, 11%);
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 1;
}
.searchBox{
    visibility: hidden;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    color:hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.searchBox input{
    background: transparent;
    padding: 10px;
}
.searchBox i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.searchBox i:hover{
    transform: scale(1,2);
}

 
.cardContainer{
    background: hsl(94, 89%, 40%);  
    padding: 2rem;
    border-radius: 10px;
    flex-wrap: wrap;  
    gap: 1rem; 
    width: fit-content;  
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.mainTitle{
    color:hsl(94, 100%, 11%);
    padding-bottom: 10px;
    font-size: 15px;
}
.pinnedCard{
    background: hsl(94, 100%, 11%);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
} 
.dailyDiary{
    color: black;
    padding: 2rem;  
    position: relative;  
    width:100%;
    display: block;
    place-items: center;  
}
.calendar{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 80%;
    
}
.calendar
#backButton{
    background-color: hsl(94, 89%, 40%);
    border-radius: 20%;
    padding: 1rem;
    cursor:pointer;
    
}
.calendar
#backButton:hover{
    border-radius: 20%;
    padding: 1rem;
    background-color: hsl(0, 4%, 32%);
    
}
.calendar
#date{
    font-size: 50px;
    padding-left: 1rem;
    padding-right: 1rem; 
}
.calendar
#date:hover{
    font-size: 50px;
    padding-left: 1rem;
    padding-right: 1rem; 
    cursor: pointer; 
    background-color: hsla(0, 4%, 32%, 0.346);
    border-radius: 15px;

}
.calendar
#forwardButton{
    background-color: hsl(94, 89%, 40%);
    border-radius: 20%;
    padding: 1rem;
    cursor:pointer;
    
}
.calendar
#forwardButton:hover{
    border-radius: 20%;
    padding: 1rem;
    background-color: hsl(0, 4%, 32%);
    
}
.exerciseCard{
    background-color: hsl(94, 89%, 40%);
    position: relative; 
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}
.exerciseCard
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.exerciseInfo
span{
    color:hsl(94, 100%, 11%);
} 
  
.hidden {
    display: none !important;
}
#exerciseForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.weightCard{
    position: relative;
    background-color: hsl(94, 89%, 40%);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20px;
    width: fit-content; 
    place-self: center;
}
.weight{
    padding: 1rem;
}
.weight
h2{
    width: fit-content; 
    display: inline-flex;
    font-size: 40px;
} 
.progress{ 
    justify-self: center;
    font-size: 24px;
}
.weightUpdate{
    justify-items: center;
    font-size: 30px;
    color: hsl(0, 0%, 0%);
}
.weightUpdate:hover{
    cursor: pointer;
    color:hsl(94, 98%, 19%)
}
.userImg
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.userImg
img:hover{
    cursor: pointer;
}
